body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('../images/banner.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    font-size: 0.9rem;
}
